.navbar {
  border: 3px solid green;
  padding: 30px 10%;
  background-color: rgb(163, 236, 163);
}

.list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.offert-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: aquamarine;
}

.footer {
  display: flex;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: rgb(163, 236, 163);
  text-align: center;

  align-items: center;
}
a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
}
